<div class="card" style="border: 1px solid #818181!important;">
       
    <div style="padding-left: 12px;padding-top: 13px;font-weight: 600;font-size: 13px;background: #dadada;color:black;">
        SAMPLE REGISTRATION
        <div>&nbsp;</div>
    </div>
<div class="card-body">
    
    <div style="width: 50%;margin-top: 1%;border-radius: 5px;margin-left: 30%" *ngIf="!isAdd">
            
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
                <input type="text" formControlName="Id" class="form-control" style="display: none;"/>
            <label for="email">Sample Location</label>
            <!-- <input type="text" class="form-control" id="email"> -->
            <div class="row">
<!-- <div class="col-12"> -->
<div class="col-0">

</div>
<div class="col-4">
        <span>
                <!-- <input type="text" formControlName="SampleLocation3" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.SampleLocation3.errors }" /> -->
                <p-dropdown [options]="lstsamplelocation1" editable="editable" formControlName="SampleLocation1" placeholder="Select One" optionLabel="name" [ngClass]="{ 'is-invalid': submitted && f.SampleLocation1.errors }" ></p-dropdown>
            </span>
    </div>
    <div class="col-4">
            <span>
                    <!-- <input type="text" formControlName="SampleLocation2" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.SampleLocation2.errors }" /> -->
                    <p-dropdown [options]="lstsamplelocation2" editable="editable" formControlName="SampleLocation2" placeholder="Select One" optionLabel="name" [ngClass]="{ 'is-invalid': submitted && f.SampleLocation2.errors }" ></p-dropdown>
                </span>
    </div>
    <div class="col-4">
            <span>
                    <p-dropdown [options]="lstsamplelocation3" editable="editable"  formControlName="SampleLocation3" placeholder="Select One" optionLabel="name" [ngClass]="{ 'is-invalid': submitted && f.SampleLocation3.errors }" ></p-dropdown>
                <!-- <input type="text" formControlName="SampleLocation3" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.SampleLocation3.errors }" /> -->
            </span>
    </div>
<!-- </div> -->
            </div>
            
            <!-- <input type="text" formControlName="SampleLocation1" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.SampleLocation1.errors }" /> -->
            
            <br>
            <span>
                <input type="text" formControlName="SampleLocation4" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.SampleLocation4.errors }" />
            </span>
            <div *ngIf="submitted && f.SampleLocation1.errors" class="invalid-feedback">
                <div *ngIf="f.SampleLocation1.errors.required">SampleLocation is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="pwd">Sample Name</label>
            <!-- <input type="text" class="form-control" id="pwd"> -->

            <input type="text" formControlName="SampleName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.SampleName.errors }" />
            <div *ngIf="submitted && f.SampleName.errors" class="invalid-feedback">
                <div *ngIf="f.SampleName.errors.required">Sample Name is required</div>
            </div>
          </div>
          <div class="form-group">
              <label for="pwd">Sample Type</label>
              <!-- <input type="text" class="form-control" id="pwd"> -->

              <input type="text" formControlName="SampleType" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.SampleType.errors }" />
              <div *ngIf="submitted && f.SampleType.errors" class="invalid-feedback">
                  <div *ngIf="f.SampleType.errors.required">Sample Type is required</div>
              </div>
            </div>

            <div class="form-group">
                <label for="remarl">Select Frequency</label>
                <br>
                <p-dropdown [options]="lstFrequency" class="form-control" editable="editable"  formControlName="SelectFrequncy" placeholder="  Select a Frequency  " optionLabel="name" [ngClass]="{ 'is-invalid': submitted && f.SelectFrequncy.errors }" ></p-dropdown>
                <!-- <p-dropdown [options]="lstFrequency" formControlName="SelectFrequncy"></p-dropdown> -->
                <!-- <input type="text" formControlName="SelectFrequncy" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.SelectFrequncy.errors }" /> -->
                <div *ngIf="submitted && f.SelectFrequncy.errors" class="invalid-feedback">
                    <div *ngIf="f.SelectFrequncy.errors.required">Frequncy is required</div>
                </div>
                <!-- <input type="text" class="form-control" id="remark"> -->
              </div>
            <div class="form-group">
                <label for="remarl">Enter Remarks</label>
                <input type="text" formControlName="Remarks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Remarks.errors }" />
                <div *ngIf="submitted && f.Remarks.errors" class="invalid-feedback">
                    <div *ngIf="f.Remarks.errors.required">Remarks is required</div>
                </div>
                <!-- <input type="text" class="form-control" id="remark"> -->
              </div>
              <div style="margin-left: 80%;width: 200px" >
                <div *ngIf="isEditSubmit" style="width: 100px;float: left;">
                        <button type="submit" class="btn btn-primary">Update<i class="pi pi-check"></i></button>
                </div>
                <div *ngIf="isAddSubmit" style="width: 100px;float: left;">
                        <button type="submit" class="btn btn-primary">Save<i class="pi pi-check"></i></button>
                    </div>
                    <div  style="width: 100px;float: right;">
                            <button type="submit" class="btn btn-success" (click)="Cancel()">Cancel<i class="pi pi-times"></i></button>
                    </div>
                    
              </div>
          
          
        </form>
           
            <div style="margin-top: 1%;">
                &nbsp;
                </div>
            </div>

            <div style="width: 100%;" *ngIf="isAdd">
                    <div style="float: right;" >
                            <button type="submit" class="btn btn-primary" (click)="btnAdd()"> <i class="pi pi-plus"></i>Add</button>
                        <!-- <input type="button" class="btn btn-primary" value="Add" (click)="btnAdd()"> -->
                    </div>
                    <br>
                    <div style="margin-top: 1%;">
                    &nbsp;
                    </div>
              <p-table [columns]="Samplecols" [value]="lstSamples" [paginator]="true" [rows]="10" (sortFunction)="customSort($event)" [customSort]="true">
                <ng-template pTemplate="header" let-columns>
                    <tr >
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                            
                        <!-- <td>
                            {{rowData.SampleName}}
                        </td>
                        <td>
                                {{rowData.SampleType}}
                            </td>
                            <td>
                                    {{rowData.SelectFrequncy}}
                                </td>
                                <td>
                                        {{rowData.SampleLocation4}}
                                    </td>
                                <td>
                                    {{rowData.Remarks}}
                                </td> -->
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                        <td style="text-align:center">
                                <button  pButton type="button" pInitEditableRow icon="pi pi-times" class="ui-button-info" (click)="onRowDeleteInit(rowData)"></button>
                                <button  pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" style="margin-left: 10px;" (click)="onRowEditInit(rowData)"></button>
                               
                            </td>
                    </tr>
                </ng-template>
            </p-table>
            </div>
</div>
</div>

<p-toast position="top-right"></p-toast>